:root {
    display: block;
    color-scheme: light dark;
}

footer {
    position: fixed;
    bottom: 2rem;
    right: 10%;
}

footer * {
    margin: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ebe1e1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button, input[type=button] {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover, .selected {
    background-color: rgba(0, 75, 169, 1);
}

.content {
    padding: 0% 10%;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 100%!important;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.loginTable {
    margin-left: auto;
    margin-right: auto;
}

.loginTable > tbody > tr > td {
    padding-top: 10px;
    align-items: start;
    align-content: start;
    text-align: start;
}

.loginTable span {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
}

.loginTable input[type=button] {
    float: right;
    margin-right: 30px;
}

input {
    font-size: 16px;
    padding: 5px 10px;
    border: 5px solid rgba(0, 136, 169, 1);
    background-color: #025265;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover, input[type=password]:focus {
    border-color: rgba(0, 75, 169, 1);
    background-color: rgba(0, 75, 169, .4);
    outline: none;
}

.loginTable label {
    padding-right: 2rem;

}

.box {
    border: 5px solid rgba(0, 136, 169, 1);
    border-radius: 10px;
    min-width: 200px;
    width: 40%;
    height: 60vh;
    min-height: 400px;
}

.centerCenter {
    margin-top: 10%;

}

